    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Jodie Gambill</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li{{ page.navbar-skills-class }}><a href="/skills">Strengths &amp; Skills</a></li>
            <li{{ page.navbar-service-class }}><a href="/service">Service</a></li>
            <li{{ page.navbar-cv-class }}><a href="/cv">CV</a></li>
            <li{{ page.navbar-contact-class }}><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
