{% include header.html %}

{% include navbar.html %}

    <article class="container theme-showcase" role="main">

        <h2>{{ page.title }}</h2>

        <p class="meta">
            {{ page.date | date: "%B %-d, %Y"  }}
            <span class="categories">filed under: {{ page.categories | array_to_sentence_string }}</span>
            <span class="tags">tagged: {{ page.tags | array_to_sentence_string }}</span>
        </p>

        <div class="post">

            {{ content }}

        </div> <!-- /post -->

    </article>

{% include footer.html %}

{% include close.html %}

